body {
	padding: 10px 50px 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
	margin-left: 50px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
}

.myChart {
	margin-top: 20px;
}

.getDates {
	height: 30px;
}

form {
	max-width: 500px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px 15px 5px 15px;
	box-sizing: border-box;
}
.form-group{
	margin-bottom: 10px;
}
.form-group label {
	min-width: 90px;
	display: inline-block;
}

input[type="date"]{
    color: #666;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgb(166, 166, 166);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
}
.currency {
    height: 30px;
    width: 70px;
}

.btn-send {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(255, 99, 132);
	color: #fff;
	font-size: 14px;
}

.maxMin {
	text-align: right;
}

.maxMin h2 {
	margin-bottom: 40px;
}